html, body {
  margin: 0;
  height: 100%;
}

body {
  box-sizing: border-box;
  padding: 40px;
  background-color: #F7F7F7;
  color: #555;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.main-wrapper {
  margin: 0 auto;
  max-width: 1500px;
  min-width: 1100px;
  height: 100%;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #CCC;
  overflow: hidden;
  font-family: "PT Sans Narrow", monospace;
}

// Two-column layout
.main-wrapper {
  display: flex;

  .sidebar {
    width: 300px;

    background-color: #313540;
    color: #EEE;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    z-index: 100;
  }

  .content {
    flex: 1;
    background-color: #FEFFFA;
  }
}

// Styles inside [.sidebar]
.sidebar {
  display: flex;
  flex-direction: column;

  .logo {
    height: 120px;
    background-color: #EB5A5A;
    color: #EEE;
    text-align: center;
    line-height: 120px;
    font-size: 30px;
    font-style: italic;
    letter-spacing: 2px;
  }

  .navs {
    flex: 1;
    padding-top: 40px;
    overflow-y: auto;
  }

  .nav-editor {
    display: none;
  }

  .sidebar-nav {
    flex-direction:column;

    a {
      display: block;
      line-height: 80px;
      text-align: center;
      font-size: 20px;
      color: #89A;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

    a:hover,
    &.current a {
      color: #68BCFF;
      position: relative;
    }

    a:before {
      content: "";
      display: block;
      visable: none;
      position: absolute;
      right: 6px;
      top: 40px;
      height: 0px;
      width: 3px;
      background-color: #68BCFF;
    }

    &.current a:before,
    &:hover a:before {
      transition: all ease-out 0.2s;
      top: 5px;
      height: 70px;
    }
  }

  .etc {
    height: 120px;
  }
}

// Styles inside [.content]

.content {
  display: flex;
  flex-direction: column;

  .content-header {
    height: 120px;
  }

  .content-body {
    flex: 1;
    padding: 60px 80px;
  }
}

.content-header {
  background-color: #FAF9F3;
  border-bottom: 1px solid #DDD;

  .page-title {
    height: 120px;

    h2 {
      line-height: 120px;
      font-size: 30px;
      color: #888;
      margin: 0;
      font-weight: normal;
      font-style: italic;
      letter-spacing: 1px;
      padding-left: 80px;
      text-transform: capitalize;
    }
  }
}
