
// Manage

.us-list {
  .item {
    border-width: 1px 0;
    border-style: solid;
    border-color: #EEE;
    margin-bottom: -1px;
    height: 50px;
    line-height: 52px;
    font-size: 16px;
    color: #888;
    display: flex;

    .item-status {
      width: 50px;
      text-align: center;

      input {
        font-size: 1.2em;
        transform: scale(1.2);
        -webkit-filter: hue-rotate(260deg);
        opacity: 0.7;
      }
    }
    .item-name {
      flex: 7;
      padding-right: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: "PT Sans", sans-serif;
    }
    &.disabled .item-name {
      text-decoration: line-through;
    }
    .item-version {
      flex: 1;
    }
    .item-links {
      flex: 1;
    }
    .item-actions {
      width: 170px;
      color: #DDD;
    }

    a {
      color: #888;
      padding: 0 2px;
      margin: 0 3px;
      cursor: pointer;

      &:hover {
        color: #4A90E2;
        text-decoration: underline;
      }

      &.delete:hover {
        color: #EB5A5A;
      }
    }

    &:hover {
      background-color: rgba(200,200,200, 0.1);
    }
  }
}

// Installer
