{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env", {
        "targets": {
          "chrome": "69"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "react-require",
    "styled-jsx/babel"
  ]
}
